@import "./../../../styles/settings/breakpoints.scss";
@import "./../../../styles/settings/colors.scss";

:host {
    display: flex;
    flex-direction: column;
}

.video-list {
    display: flex;
    flex-flow: column;
    @include breakpoint($narrow-devices) {
        flex-flow: row;
        flex-wrap: wrap;
    }
}

.video-item {
    margin-top: 15px;
    flex: 1;
    @include breakpoint($narrow-devices) {
        margin-top: 40px;
        flex: inherit;
        width: 32%;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 2%;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    mat-chip {
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}

.video-name-link {
    text-decoration: none;
    color: currentColor;
}