<div class="video-list" *ngIf="videodata != 'besog-os' && videodata != 'meld-dig-ind'">
  <div class="video-item" *ngFor="let video of videos">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{video.title}}</mat-card-title>
        <mat-card-subtitle>{{video.date}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <iframe [src]="video.url" frameborder="0" allowfullscreen></iframe>
        <!-- <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(video.url)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
        <!-- <iframe src="https://www.youtube.com/embed/WLxEo85NI74" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="video-data" *ngIf="videodata == 'besog-os' || videodata == 'meld-dig-ind'">
  <mat-card class="example-card">
    <mat-card-content [innerHTML] = "videocontent"></mat-card-content>
  </mat-card>
</div>