<div class="side-menu">
  <a [routerLink]="'/videos'" routerLinkActive="active">
    <mat-icon color="accent">videocam</mat-icon><span class="invisible">Videos</span>
  </a>
  <a [routerLink]="'/info/charts'" routerLinkActive="active">
    <mat-icon color="accent">assessment</mat-icon><span class="invisible">Assessment</span>
  </a>  
  <a [routerLink]="'/info/tilmelding-besoegsdag-4-2-2018'" routerLinkActive="active">
    <mat-icon color="accent">assignment</mat-icon><span class="invisible">Form</span>
  </a>
  <a [routerLink]="'/info/profile'" routerLinkActive="active">
    <mat-icon color="accent">face</mat-icon><span class="invisible">Profile</span>
  </a>  
  <a [routerLink]="'/user/login'" routerLinkActive="active">
    <mat-icon color="accent">lock</mat-icon><span class="invisible">Log In</span>
  </a>  
  <!-- <a [routerLink]="'/artists'" routerLinkActive="active">
    <mat-icon color="accent">music_note</mat-icon><span class="invisible">Artists</span>
  </a>
  <a [routerLink]="'/queue'" routerLinkActive="active">
    <mat-icon color="accent">queue_music</mat-icon><span class="invisible">Queue</span>
  </a>
  <a [routerLink]="'/playlists/explore'" routerLinkActive="active">
    <mat-icon color="accent">search</mat-icon><span class="invisible">Explore</span>
  </a>
  <a [routerLink]="'/playlists/me'" routerLinkActive="active">
    <mat-icon color="accent">headset</mat-icon><span class="invisible">My playlists</span>
  </a> -->
</div>